<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Banco Conta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-item>
      <ion-label>Saldo em Conta</ion-label>
      <br/>
      <ion-label>Agencia: {{conta.agencia}}</ion-label>
      <ion-label>Conta corrente: {{conta.conta}}</ion-label>
      <ion-button href="/sonho?id={{conta.id}}" fill="outline" slot="end">Adicionar Sonho</ion-button>
    </ion-item>
  
    <ion-card-content>
      Saldo em conta: R$ {{conta.saldo}}
    </ion-card-content>
  </ion-card>
</ion-content>
